target/simpletalk/index.jsp
target/simpletalk/WEB-INF/web.xml
target/simpletalk/WEB-INF/lib/slf4j-simple-1.7.25.jar
target/simpletalk/WEB-INF/lib/slf4j-log4j12-1.7.25.jar
target/simpletalk/WEB-INF/lib/slf4j-api-1.7.25.jar
target/simpletalk/WEB-INF/lib/log4j-1.2.17.jar
target/simpletalk/WEB-INF/lib/jstl-1.2.jar
target/simpletalk/WEB-INF/lib/dwr-3.0.2-RELEASE.jar
target/simpletalk/WEB-INF/lib/commons-logging-1.2.jar
target/simpletalk/WEB-INF/dwr.xml
target/simpletalk/WEB-INF/classes/com/simpletalk/Message.class
target/simpletalk/WEB-INF/classes/com/simpletalk/JavaChat.class
target/simpletalk/WEB-INF/classes/com/simpletalk/JavaChat$1.class
target/simpletalk.war
target/maven-archiver/pom.properties
target/m2e-wtp/web-resources/META-INF/maven/com/simpletalk/pom.xml
target/m2e-wtp/web-resources/META-INF/maven/com/simpletalk/pom.properties
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
target/heroku/slug.tgz
target/heroku/app/target/simpletalk.war
target/heroku/app/target/dependency/webapp-runner.jar
target/heroku/app/pom.xml
target/heroku/app/Procfile
target/dependency/webapp-runner.jar
target/classes/com/simpletalk/Message.class
target/classes/com/simpletalk/JavaChat.class
target/classes/com/simpletalk/JavaChat$1.class
target/heroku/app/system.properties
.settings/org.eclipse.wst.validation.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.name
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/.jsdtscope
