<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- 若有 meta.html，可改為 fragment 引入 -->
	<th:block th:replace="fragments/meta :: meta" />

	<link rel="stylesheet" th:href="@{/resources/static/login-style.css}" />
	<title>Login</title>
</head>
<body>
<div class="container">
	<h1 class="form-heading" align="center">Simple Talk Room</h1>
	<div class="main-div">
		<form id="login-form" class="form-signin" th:action="@{/register}" method="post">
			<h3 class="form-signin-heading">給個聊天名稱吧</h3>
			<p class="form-signin-heading">一個簡單的聊天平台</p>
			<div class="form-group">
				<input class="form-control" name="username" placeholder="輸入聊天名稱" />
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">開始聊天</button>
		</form>
	</div>
</div>
</body>
</html>